@font-face {
    font-family: "ChicagoFLF"; 
    src: url(./layout/font.ttf) format('woff2');
}


:root {
  --main-accent: #718184;
  --secondary-accent: #B82F63;
  --bg: #1E1818;
  --fg: #FFD2D2;
}

* {
  color: var(--fg);
}

body {
  image-rendering: pixelated;
  background-image: url(./layout/bg.png);
  background-size: 256px;
  font-family: 'ChicagoFLF';
  font-size: 1em;
}

.theme {
  position:fixed;
  border: 4px ridge var(--main-accent);
  background-color: var(--bg);
  width: 48px;
  height: 48px;
  margin-top: 1%;
  text-align: center;
}

.theme button {
  font-size: 2em;
  border: none;
  background-color: alpha(var(--bg),0);
}

.title {
  position: absoloute;
  border: 4px ridge var(--main-accent);
  background-color: var(--bg);
  padding: 10px;
  height: 32;
}



.title h1,
.title a {
  display: inline;
}

.main {
  border: 4px ridge var(--main-accent);
  background-color: var(--bg);
  width: 90%;
  margin: auto;
  margin-bottom: 1%;
}


.main p,
.main img {
  margin-left: 10px;
}

.mongus {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 32;
  width: 100%;
}

/* make the mongus invisible if on mobile */
@media screen and (max-width: 768) {
  .mongus {
    visibility: hidden;
  }
}