/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@font-face {
  font-family: "Gohu";
  src: url(./layout/font.ttf);
}


:root {
  --main-accent: #4E6851;
  --secondary-accent: #B83A2D;
  --bg: #e9e1da;
  --fg: #000000;
}

* {
  color: var(--fg);
}


body {
  image-rendering: pixelated;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('layout/bg.png');
  background-size: cover;
  font-family: 'Gohu';
  font-size: 1.2em;
}

button {
  border: none;
  font-family: 'Gohu';
  font-size: 1.2em;
  background-color: var(--bg);
}

button:hover {
  background-color: var(--main-accent);
}


.title {
  position: absoloute;
  border: 4px ridge var(--main-accent);
  background-color: var(--bg);
  box-shadow: 4px 4px;
  padding: 10px;
  height: 32;
}

.title h1,
.title a {
  display: inline;
}

.box {
  border: 4px ridge var(--main-accent);
  background-color: var(--bg);
  box-shadow: 4px 4px;
  width: 90%;
  margin: auto;
  margin-bottom: 2vh;
}

.minibox {
  border: 4px ridge var(--secondary-accent);
  background-color: var(--fg);
  box-shadow: 4px 4px;
  width: 98%;
  margin: auto;
  margin-bottom: 1%;
  overflow: hidden;
}

.minibox p {
    color: var(--bg);
}

.box p,
.box img {
  margin-left: 1%;
  margin-bottom: 0.5%;
  margin-top:1%;
}

.noise {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(128, 128, 128, 0.2)), url('layout/noise.png');
  background-size: px;
  opacity: 0.4;
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}

/* .navbar {
  list-style-type: none;
  position: absolute;
  border: 4px ridge var(--main-accent);
  background-color: var(--bg);
  box-shadow: 4px 4px;
  margin: 5px;
  bottom: 0;
  left:0;
  right:0;
}

.navbar li {
  float: left;
  border-right: 5px solid var(--main-accent);
  padding-left:5px;
  padding-right:5px;
}

.navbar li:hover {
  background-color: var(--main-accent);
}

.active {
  background-color: var(--secondary-accent);
} */
